
/Lib/*/Win32/*.sdf
/Lib/*/Win32/*.user
/Lib/*/Win32/*.suo
/Lib/*/Win32/*.opensdf
/Lib/*/Win32/Debug*
/Lib/*/Win32/Release*
/Lib/*/Src/*.o
/Lib/*/Src/*.TMP
/Lib/*/Make/*.a
/Lib/*/Make/Google*
/Lib/Core/Test/Files/tmp*

/App/Win32/*.sdf
/App/Win32/*.user
/App/Win32/*.suo
/App/Win32/*.opensdf
/App/Win32/Debug*
/App/Win32/Release*
/App/Src/*.o
/App/Src/*.TMP
/App/Make/*.exe

/External
/Downloads
/Download

/*stackdump