
/Lib/*/VS2017/*.user
/Lib/*/VS2017/x64
/Lib/*/VS2017/.vs
/Lib/*/Make/debug
/Lib/*/Make/release
/Lib/*/Make/*.stackdump
/Lib/*/Make/*.xml
/Lib/Core/Test/Files/tmp*

/App/*/Win32/*.sdf
/App/*/Win32/*.user
/App/*/Win32/*.suo
/App/*/Win32/*.opensdf
/App/*/Win32/Debug*
/App/*/Win32/Release*
/App/*/Make/release
/App/*/Make/debug
/App/*/Make/*.xml

/VS2017/*.user
/VS2017/x64
/VS2017/.vs

/Web/node_modules
/Web/package-lock.json
/Web/dist

/Test/*.xml
Test/lib/__pycache__

/External
/Downloads
/Download
/Install

/*stackdump
